                    <div class="col-4 mt-4">
                        <div class="rounded p-2 clearfix" style="box-shadow : 2px 2px 6px">
                        
                            <h5 style="min-height: 80px;" class="text-center"><a href="{{ path('produit', {'id':produit.id}) }}">{{ produit.nom }}</a></h5>
                                
                            <img class="img-fluid rounded" src="{{asset('images/produits/' ~ produit.image)}}" alt="Image de {{ produit.nom }}">
                            
                            <hr>

                            <div>
                                <h2 class=" ml-2 d-inline-block">{{ produit.prix }}€</h2>

                                <div><a  href="{{ path('cart_add', {'id':produit.id}) }}" class="btn btn-outline-primary float-right">Ajouter</a></div>
                            </div>

                        </div>

                    </div>