{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}Nos Bijoux{% endblock %}


{% block body %}

{% for message in app.flashes('modificationProduit') %}
    <div class="alert alert-primary" id="msg">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes('suppressionProduit') %}
    <div class="alert alert-primary">
        {{message}}
    </div>
{% endfor %}
        <div>
            <a class="btn btn-primary" href="{{path('creationProduit')}}">Créer un nouveau produit</a>
        </div>
        <div class="row">
        {% for produit in produits %}
            <div class="col-3 mt-4">
                <div class="rounded p-2 clearfix" style="box-shadow : 2px 2px 6px">
                
                    <h5 style="min-height: 80px;" class="text-center">{{ produit.nom }}</h5>
                        
                    <img class="img-fluid rounded" src="{{asset('images/produits/' ~ produit.image)}}" alt="Image de {{ produit.nom }}">
                    
                    <hr>

                    <div>
                        <h2 class=" ml-2 d-inline-block">{{ produit.prix }}€</h2>
                    </div>
                    <div class="row no-gutters">
                        <a href="{{ path("modificationProduit", {'id' : produit.id} ) }}" class="col-6 btn btn-primary">Modifier</a>
                        <form method="POST" class="col" action="{{ path("suppressionProduit", {'id' : produit.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?')">
                            <input type="hidden" name="_method" value="delete"> 
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ produit.id ) }}"> 
                            <input type="submit" class="btn btn-danger col-12" value="Supprimer"> 
                        </form>
                    </div>

                </div>

            </div>
        {% endfor %}

        </div>
{% endblock %}


{% block javascripts %}
<script>
    function messageOff(){
        setTimeout(
            function(){
                document.getElementById('msg').style.display = "none";
            }, 7000
        );
    }

    messageOff();
</script>
{% endblock %}
